body {
        font: 18px/1.5 sans-serif; 
    }
    
    h1, h2 { 
        line-height: 1.2; 
        margin: 0 0 .5em; 
    }
    
    h1 {
        font-size: 36px; 
    }
    
    h2 { 
        font-size: 21px; 
        margin-bottom: 1em; 
    }
    
    p { 
        margin: 0 0 1em 0; 
    }
    
    a { 
        color: #0000F0; 
    }
    
    a:hover {
        text-decoration: none; 
    }
    
    code { 
        background: #F5F5F5; 
        max-width: 100px; 
        padding: 2px 6px; 
        word-wrap: break-word; 
    }
    
    #wrapper { 
        background: #FFF; 
        margin: 1em auto; 
        max-width: 800px; 
        width: 95%; 
    }
    
    #container { 
        padding: 2em; 
    }
    
    #welcome, #status { 
        margin-bottom: 2em; 
    }
    
    #welcome h1 span { 
        display: block; 
        font-size: 75%; 
    }
    
    #icon-status, #icon-book { 
        float: left; 
        height: 64px; 
        margin-right: 1em; 
        margin-top: -4px; 
        width: 64px; 
    }
    
    #icon-book { 
        display: none; 
    }
    
    // level styles 
    #container {
        height: 700px; 
        width: 1300px; 
        margin-left: 15px; 
        margin-top: 20px; 
        //background:yellow; 
        position: absolute;
    }
    
    #screen {
        height: 80%; 
        width: 100%; 
        left: 0px; 
        top :0px; 
        //background: blue; 
        overflow: hidden; 
        position: absolute
    }
    
    #modelPanel {
        position: absolute;
        display: none;
        height: 100%;
        width: 80%;
        //background: pink;
        left: 10%;
        top: 0px;
        overflow: hidden;
    }
    
    #model {
        position: absolute;
        display: block; 
        left: 20%;
        top: 2.5%;
        height: 95%; 
        width: auto
    }
    
    #timer {
        position: absolute;
        display: block;
        top: 30%;
        right: 29%;
        height: 40%;
        font-size: 40vh;
        font-family: "adobe-caslon-pro", serif;
        //background: red;
    }
    
    #modelItems {
        display: none;
        top: 0px; 
        height: 100%; 
        width: 100%; 
        overflow: hidden; 
        position: absolute; 
        //background: yellow
    }
    
    #itemContainer li {
        list-style-type:none; 
        display: inline-block; 
        height: 250px; 
        width: 300px; 
        margin: 10px; 
        margin-bottom: 15px; 
        //overflow: hidden; 
        //background:#F5871F;
        position: relative
    }

    .thumbnailContainer {
        height: 100%; width: 240px;                                 
        //margin-left: 30px; 
        //margin-right: 30px; 
        overflow:hidden; 
        position:absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        border-radius: 2px;
        border-style: dashed;
        border-color: #99ff00;
        border-width: 0px;
        //border: 5px dashed red;
    }
    
    .thumbnail {
        height: 100%; 
        width: auto; 
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto
    }
    
    .thumbnail:hover {
        cursor: pointer
    }
    
    #controlePanel {
        height: 20%; 
        width: 100%; 
        left: 0px; 
        bottom: 0px; 
        display: none; 
        background-color: purple; 
        overflow: hidden;
        position: absolute
    }
    
    .selected {
        border: 3px solid black;
    }
    
    

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }

