body {
        font-family: "adobe-caslon-pro", serif;;
    }
    
    h1, h2 { 
        line-height: 1.2; 
        margin: 0 0 .5em; 
    }
    
    h1 {
        font-size: 36px; 
    }
    
    h2 { 
        font-size: 21px; 
        margin-bottom: 1em; 
    }
    
    p { 
        margin: 0 0 1em 0; 
    }
    
    a { 
        color: #0000F0; 
    }
    
    a:hover {
        text-decoration: none; 
    }
    
    code { 
        background: #F5F5F5; 
        max-width: 100px; 
        padding: 2px 6px; 
        word-wrap: break-word; 
    }
    
    #wrapper { 
        background: #FFF; 
        margin: 1em auto; 
        max-width: 800px; 
        width: 95%; 
    }
    
    #container { 
        padding: 2em; 
    }
    
    #welcome, #status { 
        margin-bottom: 2em; 
    }
    
    #welcome h1 span { 
        display: block; 
        font-size: 75%; 
    }
    
    #icon-status, #icon-book { 
        float: left; 
        height: 64px; 
        margin-right: 1em; 
        margin-top: -4px; 
        width: 64px; 
    }
    
    #icon-book { 
        display: none; 
    }
    
    // level styles 
    #container {
        height: 700px; 
        width: 1300px; 
        margin-left: 15px; 
        margin-top: 20px; 
        //background:yellow; 
        position: absolute;
    }
    
    #screen {
        height: 100%; 
        width: 100%; 
        left: 0px; 
        top :0px; 
        //background: blue; 
        overflow: hidden; 
        position: absolute
    }
    
    #modelPanel {
        position: absolute;
        display: none;
        height: 100%;
        width: 80%;
        //background: pink;
        left: 10%;
        top: 0px;
        overflow: hidden;
    }
    
    #model {
        position: absolute;
        display: block; 
        left: 20%;
        top: 2.5%;
        height: 95%; 
        width: auto;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    #timer {
        position: absolute;
        display: block;
        top: 30%;
        right: 29%;
        height: 40%;
        font-size: 40vh;
        font-family: "adobe-caslon-pro", serif;
        //background: red;
    }
    
    #modelItems {
        display: none;
        top: 0px; 
        height: 100%; 
        width: 90%; 
        overflow: hidden; 
        position: absolute; 
        //background: yellow
    }

    #itemContainer li {
        list-style-type:none; 
        display: inline-block; 
        height: 250px; 
        width: 300px; 
        margin: 10px; 
        margin-bottom: 50px; 
        //overflow: hidden; 
        //background:#F5871F;
        position: relative
    }

    .thumbnailContainer {
        height: 100%; width: 240px;                                 
        //margin-left: 30px; 
        //margin-right: 30px; 
        //background: yellow;
        box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
        overflow:hidden; 
        position:absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        border-radius: 2px;
        border-style: dashed;
        border-color: #99ff00;
        border-width: 0px;
        //border: 5px dashed red;
    }
    
    .thumbnail {
        height: 100%; 
        width: auto; 
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto
    }
    
    .thumbnail:hover {
        cursor: pointer
    }
    
    #screenTimer {
        height: 60%;
        width: 50px;
        left: 80%;
        top: 50px;
        position: absolute;
        display: none;
        //background: pink;
    }
    
    .timerBars {
        margin-top: 10%;
        height: 5%;
        width: 100%;
        background: black;
    }
    
    #controlePanel {
        height: 20%; 
        width: 100%; 
        left: 0px; 
        bottom: 0px; 
        display: none; 
        background-color: purple; 
        overflow: hidden;
        position: absolute
    }
    
    #scoreboard {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 60%;
        left: 20%;
        overflow: auto;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: white;
        //visibility: hidden;
    }
    
    #scoreboardPic {
        position: relative;
        width: 70%;
        height: auto;
        //top: 0px;
        //display: flex;
        float: left;
        margin-right: -15%;
        //visibility: hidden;
    }
    
    #scoreboardPanel {
        position: absolute;
        width: 70%;
        left: 55%;
        top: 5%;
        bottom: 15%;     
        //background: #5eb5e0
    }
    
    .scoreDivs {
        position: relative;
        height: 22%;
    }
    
    .scoreLabels {
        position: absolute;
        height: 18%;
        width: 90%;
        background: black;
        padding-left : 10px;
    }
    
    #scoreboardPanel p{
        font-family: "franklin-gothic-urw", "Arial Narrow", Arial, sans-serif;
        color: white;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        font-size: 1.0vw;
    }
    
    .scoreLists {
        position: absolute;
        bottom: 0px;
        height: 81%;
        width: 90%;
        //background: red;
    }
    
    .scoreboardPicksContainer{
        position: relative;
        height: 100%;
        width: 14%;
        display: inline-block;
        margin-left: 5px;
        background: white;
    }
    
    .scoreboardPicks {
        height: 100%; 
        width: auto; 
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto
    }
    
    .scoreSum {
        position: relative;
        height: 100%;
        width: 14%;
        //display: inline-block;
        float: right;
        margin-left: 5px;
    }
    
    .scoreSumContent {
        position: absolute;
        margin: auto;
        bottom: 1px;
        right: 2px;
        font-size: 3vw;
        font-style: italic;
    }
    
    .bonusListContainer {
        position: relative;
        height: 100%;
        width: 60%;
        display: inline-block;
        margin-left: 5px;
        background: white;
    }
    
    .bonusListContainer ul {
        position: absolute;
        display: table;
        top: 0;
        left: 0;
        height: 100%;
        width: auto;
        padding: 0px;
        margin: 0px;
        padding-left: 8%;
    }
    
    .bonusListContainer li {
        display: table-row;
        font-size: 1.5vw;
    }
    
    .bonusListContainer li span{
        display: table-cell;
        vertical-align: middle;
        font-family: "franklin-gothic-urw", "Arial Narrow", Arial, sans-serif;
    }
    
    #totalScore {
        position: relative;
        height: 30%;
    }
    
    .totalScoreSum {
        position: absolute;
        height: 100%;
        width: auto;
        left: 40%;
        text-align: center;
        font-size: 10vw;
        font-style: italic;
    }
    
    #go {
        position: absolute;
        height: 10%;
        width: 20%;
        right: 10%;
        bottom: -10%;
        background-color: white;
        border: 1px solid black;
        text-decoration: none;
        font-size: 1vw;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
        font-family: "franklin-gothic-urw", "Arial Narrow", Arial, sans-serif;
    }
    
    #go span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        color: black;
        font-family: 
    }
    
    #go:hover {
        background-color: #a02727;
        border: 1px solid #a02727;
        right: 8%;
    }
    
    #go:hover span {
        padding-left: 10px;
        color: white;
        font-style: italic;
    }
    
    .selected {
        //border: 3px solid black;
        //height: 115%;
        //width: 276px;
        //box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    


    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }

